<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet House | Inicio</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./img/FavIcon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/92e84a8749.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg container_a">
            <div class="container-fluid container_a">
                <a class="navbar-brand ms-5" href="./index.html">
                    <img class="nav_logo" src="./img/Log.png" alt="Logo" width="80" />
                    <img class="nav_logo" src="./img/TitleLogo.png" alt="Logo" width="150" /></a>
                <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center container_a"
                    id="navbarNav">
                    <div class="navbar-nav nav_a d-flex align-items-center">
                        <a class="nav-link" href="./index.html">Inicio</a>
                        <a class="nav-link" aria-current="page" href="./jugueteria.html">Juguetería</a>
                        <a class="nav-link active" href="#">Farmacia</a>
                        <a class="nav-link" href="./farmacia.html">Contacto</a>
                        <a class="nav-link fa-sharp fa-regular fa-cart-shopping shopping_cart mt-1" href="./carrito.html"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main id="app">
      {{productosCompra}}
         <h1 class="text-center text-primary">Farmacia</h1> 
          <div class="container">          
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="./img/gatoTetero.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-lg-4">
                    <img src="./img/tabletaPulgas.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-lg-4">
                    <img src="./img/peineGato.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="./img/perroTetero.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-lg-4">
                    <img src="./img/pastillaGato.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-lg-4">
                    <img src="./img/peinePerro.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="./img/gatitoLeche.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-lg-4">
                    <img src="./img/perroGato.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-lg-4">
                    <img src="./img/perroComiendo.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--radios-->
      <div class="navbar  navBarFiltros bg-body-tertiary d-flex justify-content-lg-around  mb-5 "> 
        <div class=" d-flex flex-lg-row justify-content-lg-around  flex-wrap navBarFiltros" id="checkBox">
          <template v-for="precio of  ordenar">
          <div class="form-check form-check-inline">
            <label class="form-check-label" ></label>
              <input class="form-check-input"  @change="  filtroCruzado" v-model="checked" type="radio"  :value='precio'>
              {{precio}}
            </label>
          </div>
        </template>
        </div> 
        <form class="d-flex" role="search" id="search-title">
          <input class="form-control me-2 colorFuchsia" type="search" aria-label="Search" v-model="busqueda" @keyup>
          <button class="btn btn-outline-info" type="submit" v-on:click.prevent="filtroCruzado">Search</button>
        </form>
      </div>
        <!--Cards-->  
        <div class="row gap-3 justify-content-center mb-4">
            <template  v-if="filtrados.length>0" v-for="remedio of filtrados">
                <div v-if="remedio.disponibles>=5" class="card col-3" style="width: 18rem;">
                    <img v-bind:src="remedio.imagen" class="card-img-top cardImage" alt="...">
                    <div class="card-body">
                    <h5 class="card-title tamañoNombre text-center">{{remedio.producto}}</h5>
                    <p class="card-text text-center">Disponibles: {{remedio.disponibles}}</p>
                    <p class="card-text text-center">${{remedio.precio}}</p>
                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn colorBotones"  v-on:click="seleccionarProductos(remedio._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart colorCarrito" viewBox="0 0 16 16">
                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        </button>
                          <a :href="'./detalles.html?id='+remedio._id" class="btn colorBotones tamañoBoton">Detalles</a>
                    </div>
        
                    </div>
                </div>
                <div v-else class="card col-3" style="width: 18rem;">
                    
                    <div class="collection-img position-relative">
                        <img v-bind:src="remedio.imagen" class="card-img-top cardImage" alt="...">
                        <span class="position-absolute colorSpan  text-center">Ultimas Unidades!</span>
                    </div>
                    
                    <div class="card-body">
                    <h5 class="card-title tamañoNombre text-center">{{remedio.producto}}</h5>
                    <p class="card-text text-center">Disponibles: {{remedio.disponibles}}</p>
                    <p class="card-text text-center">${{remedio.precio}}</p>
                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn colorBotones"  v-on:click="seleccionarProductos(remedio._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart colorCarrito" viewBox="0 0 16 16">
                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        </button>
                        <a :href="'./detalles.html?id='+remedio._id" class="btn colorBotones tamañoBoton">Detalles</a>  
                    </div>
                     </div>
                    </div>
            </template>
            <template v-else-if="cargando">
              <h5 class="text-center">loading...</h5>
          </template>
          <template v-else>
              <h5 class="text-center">no hay coincidencias para tu búsqueda</h5>
          </template>  
              
        </div>
        <!--modal-->
        <!-- Button trigger modal -->
        

        <!-- Modal -->

        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div> -->
    </main>
 
</body>
<footer class="d-flex justify-content-evenly flex-wrap">
    <section class="d-flex flex-column justify-content-start mt-3 redes">
        <h4 class="text_footer d-flex align-self-center">Redes sociales</h4>
        <ul class="social d-flex align-items-start flex-column">
            <li class="fa-brands fa-instagram">
                <a href="https://www.instagram.com">Instagram</a>
            </li>
            <li class="fa-brands fa-facebook">
                <a href="https://www.facebook.com">Facebook</a>
            </li>
            <li class="fa-brands fa-whatsapp">
                <a href="https://www.whatsapp.com">Whatsapp</a>
            </li>
            <li class="fa-brands fa-youtube">
                <a href="https://youtube.com">Youtube</a>
            </li>
        </ul>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-start horarioC">
        <ul class="social d-flex align-items-start flex-column" style="list-style: none;">
            <h4 class="text_footer d-flex">Visítanos</h4>
            <li><h5 class="horario"> Dirección: Paraguay 2334 5 F.</h5></li>
            <li><h5 class="horario"> Horario: <br> Lunes a viernes: 7:00 a 19:00. <br>
            Sábado: 8:00 a 17:00. <br> Domingo: No hay servicio.</h5></li>
        </ul>
    </section>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/farmacia.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>